@{
    ViewData["Title"] = "Dashboard quản trị";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="mb-3">Dashboard</h1>
        <p class="lead">Khu vực quản trị EasyJapanese.</p>
    </div>
</div>
