@{
    ViewData["Title"] = "Trang chủ học viên";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="mb-3">Xin chào!</h1>
        <p class="lead">Đây là khu vực dành cho học viên EasyJapanese.</p>
    </div>
</div>
